.title {
    background-color : rgb(190, 92, 42);
    background : height=200px,width=50%;
    background-position : center;
    background-repeat : no-repeat;

    border-width : 1px 2px;
    border-style : groove;
    border-color : black;
    
}
p1 {
    background-color: blue;
    background-position: center;
    margin-top: 50%;
    margin-bottom: 50%;
    margin-left: 50%;
    margin-right: 50%;
}
p2 {
    background-color: green;
     margin-top: 50%;
    margin-bottom: 50%;
    margin-left: 50%;
    margin-right: 50%;
}
p3 {
    background-color: yellow;
     margin-top: 50%;
    margin-bottom: 50%;
    margin-left: 50%;
    margin-right: 50%;
}
